<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity
            android:name=".UI.activity.Home2"
            android:exported="false" />
        <activity
            android:name=".UI.activity.userProfile3"
            android:exported="false" />
        <activity
            android:name=".UI.activity.DataActivity"
            android:exported="false" />
        <activity
            android:name=".pojo.BottomNavActivity"
            android:exported="false" />
        <activity
            android:name=".UI.activity.QRGenerator"
            android:exported="true" />
        <activity
            android:name=".UI.activity.qrScanning"
            android:exported="true" />
        <activity
            android:name=".UI.activity.QR_Code"
            android:exported="true" />
        <activity
            android:name=".UI.activity.userProfile"
            android:exported="true" />
        <activity
            android:name=".UI.activity.user_Info"
            android:exported="true" />
        <activity
            android:name=".UI.activity.ContactUs"
            android:exported="true" />
        <activity
            android:name=".UI.activity.Verification"
            android:exported="true" />
        <activity
            android:name=".UI.activity.SignUp"
            android:exported="true" />
        <activity
            android:name=".UI.activity.LogIn"
            android:exported="true" />
        <activity
            android:name=".UI.activity.StartingApp"
            android:exported="true" />
        <activity
            android:name=".UI.activity.Home"
            android:exported="true" />
        <activity
            android:name=".UI.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>